<a href="https://colab.research.google.com/github/bharggav/Learning/blob/release1.1/learningcolab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [73]:
from pyspark.sql import SparkSession

# Initialize SparkSession
spark = SparkSession.builder.appName("sample data frame").getOrCreate()
a=[(1,"Bharggav","27"),(2,"harika","25"),(3,"Nitya","27")]
df=spark.createDataFrame(a,["id","name","age"])
# Show the DataFrame
df.show()

+---+--------+---+
| id|    name|age|
+---+--------+---+
|  1|Bharggav| 27|
|  2|  harika| 25|
|  3|   Nitya| 27|
+---+--------+---+

In [74]:
df=spark.read.csv("/content/dept_manager.csv",header=True)
print(df.dtypes)

[('emp_no', 'string'), ('dept_no', 'string'), ('from_date', 'string'), ('to_date', 'string')]

In [75]:
df=spark.read.csv("/content/dept_manager.csv",header=True,inferSchema=True)
print(df.dtypes) # Column names + data types
print("       ")
df.printSchema() # Print full schema
print("       ")
print(df.schema) # Full schema object
print("       ")
print(df.columns) # Column names
print("       ")
df.describe().show() # count, mean, stddev, min, max
print("       ")
df.summary("count").show() # More flexible than describe
print("       ")
df.summary().show() # More flexible than describe
print("       ")
print(df.take(5)) # Returns only the first N rows
print("       ")
print(df.collect()) #Collects ALL rows from ALL partitions & Brings entire dataset into driver memory
print("       ")
##In PySpark:
##df.head(5) --> print(df.head(5)) or (for i in df.head(5): print(i))returns a list of Row objects
##df.tail(5) returns a list of Row objects
##df.count() --> print(df.count()) returns a number
##But they donâ€™t automatically print unless you explicitly tell Python to print them.

df.show(n=3,truncate=False)
print("       ")
df.show(n=3,truncate=25,vertical=True)

'''n=3 means it will show top 3 records,
truncate = false it will show complete data of each columns or truncate = 2 it will show first 25 characters of each columns
vertical=True data prints in vertically '''

# Stop SparkSession
spark.stop()

[('emp_no', 'int'), ('dept_no', 'string'), ('from_date', 'date'), ('to_date', 'date')]

root
 |-- emp_no: integer (nullable = true)
 |-- dept_no: string (nullable = true)
 |-- from_date: date (nullable = true)
 |-- to_date: date (nullable = true)


StructType([StructField('emp_no', IntegerType(), True), StructField('dept_no', StringType(), True), StructField('from_date', DateType(), True), StructField('to_date', DateType(), True)])

['emp_no', 'dept_no', 'from_date', 'to_date']

+-------+------------------+-------+
|summary|            emp_no|dept_no|
+-------+------------------+-------+
|  count|                24|     24|
|   mean|110780.83333333333|   NULL|
| stddev| 627.9587127570818|   NULL|
|    min|            110022|   d001|
|    max|            111939|   d009|
+-------+------------------+-------+


+-------+------+-------+
|summary|emp_no|dept_no|
+-------+------+-------+
|  count|    24|     24|
+-------+------+-------+


+-------+------------------+-------+
|summary|            emp_no|dept_no|
+-------+------------------+-------+
|  count|                24|     24|
|   mean|110780.83333333333|   NULL|
| stddev| 627.9587127570818|   NULL|
|    min|            110022|   d001|
|    25%|            110228|   NULL|
|    50%|            110567|   NULL|
|    75%|            111133|   NULL|
|    max|            111939|   d009|
+-------+------------------+-------+


[Row(emp_no=110022, dept_no='d001', from_date=datetime.date(1985, 1, 1), to_date=datetime.date(1991, 10, 1)), Row(emp_no=110039, dept_no='d001', from_date=datetime.date(1991, 10, 1), to_date=datetime.date(9999, 1, 1)), Row(emp_no=110085, dept_no='d002', from_date=datetime.date(1985, 1, 1), to_date=datetime.date(1989, 12, 17)), Row(emp_no=110114, dept_no='d002', from_date=datetime.date(1989, 12, 17), to_date=datetime.date(9999, 1, 1)), Row(emp_no=110183, dept_no='d003', from_date=datetime.date(1985, 1, 1), to_date=datetime.date(1992, 3, 21))]

[Row(emp_no=110022, dept_no='d001', from_date=datetime.date(1985, 1, 1), to_date=datetime.date(1991, 10, 1)), Row(emp_no=110039, dept_no='d001', from_date=datetime.date(1991, 10, 1), to_date=datetime.date(9999, 1, 1)), Row(emp_no=110085, dept_no='d002', from_date=datetime.date(1985, 1, 1), to_date=datetime.date(1989, 12, 17)), Row(emp_no=110114, dept_no='d002', from_date=datetime.date(1989, 12, 17), to_date=datetime.date(9999, 1, 1)), Row(emp_no=110183, dept_no='d003', from_date=datetime.date(1985, 1, 1), to_date=datetime.date(1992, 3, 21)), Row(emp_no=110228, dept_no='d003', from_date=datetime.date(1992, 3, 21), to_date=datetime.date(9999, 1, 1)), Row(emp_no=110303, dept_no='d004', from_date=datetime.date(1985, 1, 1), to_date=datetime.date(1988, 9, 9)), Row(emp_no=110344, dept_no='d004', from_date=datetime.date(1988, 9, 9), to_date=datetime.date(1992, 8, 2)), Row(emp_no=110386, dept_no='d004', from_date=datetime.date(1992, 8, 2), to_date=datetime.date(1996, 8, 30)), Row(emp_no=110420, dept_no='d004', from_date=datetime.date(1996, 8, 30), to_date=datetime.date(9999, 1, 1)), Row(emp_no=110511, dept_no='d005', from_date=datetime.date(1985, 1, 1), to_date=datetime.date(1992, 4, 25)), Row(emp_no=110567, dept_no='d005', from_date=datetime.date(1992, 4, 25), to_date=datetime.date(9999, 1, 1)), Row(emp_no=110725, dept_no='d006', from_date=datetime.date(1985, 1, 1), to_date=datetime.date(1989, 5, 6)), Row(emp_no=110765, dept_no='d006', from_date=datetime.date(1989, 5, 6), to_date=datetime.date(1991, 9, 12)), Row(emp_no=110800, dept_no='d006', from_date=datetime.date(1991, 9, 12), to_date=datetime.date(1994, 6, 28)), Row(emp_no=110854, dept_no='d006', from_date=datetime.date(1994, 6, 28), to_date=datetime.date(9999, 1, 1)), Row(emp_no=111035, dept_no='d007', from_date=datetime.date(1985, 1, 1), to_date=datetime.date(1991, 3, 7)), Row(emp_no=111133, dept_no='d007', from_date=datetime.date(1991, 3, 7), to_date=datetime.date(9999, 1, 1)), Row(emp_no=111400, dept_no='d008', from_date=datetime.date(1985, 1, 1), to_date=datetime.date(1991, 4, 8)), Row(emp_no=111534, dept_no='d008', from_date=datetime.date(1991, 4, 8), to_date=datetime.date(9999, 1, 1)), Row(emp_no=111692, dept_no='d009', from_date=datetime.date(1985, 1, 1), to_date=datetime.date(1988, 10, 17)), Row(emp_no=111784, dept_no='d009', from_date=datetime.date(1988, 10, 17), to_date=datetime.date(1992, 9, 8)), Row(emp_no=111877, dept_no='d009', from_date=datetime.date(1992, 9, 8), to_date=datetime.date(1996, 1, 3)), Row(emp_no=111939, dept_no='d009', from_date=datetime.date(1996, 1, 3), to_date=datetime.date(9999, 1, 1))]

+------+-------+----------+----------+
|emp_no|dept_no|from_date |to_date   |
+------+-------+----------+----------+
|110022|d001   |1985-01-01|1991-10-01|
|110039|d001   |1991-10-01|9999-01-01|
|110085|d002   |1985-01-01|1989-12-17|
+------+-------+----------+----------+
only showing top 3 rows

-RECORD 0---------------
 emp_no    | 110022
 dept_no   | d001
 from_date | 1985-01-01
 to_date   | 1991-10-01
-RECORD 1---------------
 emp_no    | 110039
 dept_no   | d001
 from_date | 1991-10-01
 to_date   | 9999-01-01
-RECORD 2---------------
 emp_no    | 110085
 dept_no   | d002
 from_date | 1985-01-01
 to_date   | 1989-12-17
only showing top 3 rows

In [75]:
print("The file used in this notebook is: /content/dept_manager.csv")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [76]:
spark.stop()