<a href="https://colab.research.google.com/github/bharggav/Learning/blob/release1.1/learningcolab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

# Initialize SparkSession
spark = SparkSession.builder.appName("sample data frame").getOrCreate()
a=[(1,"Bharggav","27"),(2,"harika","25"),(3,"Nitya","27")]
df=spark.createDataFrame(a,["id","name","age"])
# Show the DataFrame
df.show()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
26/01/28 17:02:49 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

+---+--------+---+
| id|    name|age|
+---+--------+---+
|  1|Bharggav| 27|
|  2|  harika| 25|
|  3|   Nitya| 27|
+---+--------+---+

In [2]:
df=spark.read.csv("/kaggle/input/learning1/Pyspark/data_sets/department.csv",header=True)
print(df.dtypes)

[('dept_no', 'string'), ('dept_name', 'string')]

In [3]:
#df=spark.read.csv("/content/dept_manager.csv",header=True,inferSchema=True)
df=spark.read.csv("/kaggle/input/learning1/Pyspark/data_sets/department.csv",header=True,inferSchema=True)
print(df.dtypes) # Column names + data types
print("       ")
df.printSchema() # Print full schema
print("       ")
print(df.schema) # Full schema object
print("       ")
print(df.columns) # Column names
print("       ")
df.describe().show() # count, mean, stddev, min, max
print("       ")
df.summary("count").show() # More flexible than describe
print("       ")
df.summary().show() # More flexible than describe
print("       ")
print(df.take(5)) # Returns only the first N rows
print("       ")
print(df.collect()) #Collects ALL rows from ALL partitions & Brings entire dataset into driver memory
print("       ")
##In PySpark:
##df.head(5) --> print(df.head(5)) or (for i in df.head(5): print(i))returns a list of Row objects
##df.tail(5) returns a list of Row objects
##df.count() --> print(df.count()) returns a number
##But they donâ€™t automatically print unless you explicitly tell Python to print them.

df.show(n=3,truncate=False)
print("       ")
df.show(n=3,truncate=25,vertical=True)

'''n=3 means it will show top 3 records,
truncate = false it will show complete data of each columns or truncate = 2 it will show first 25 characters of each columns
vertical=True data prints in vertically '''

[('dept_no', 'string'), ('dept_name', 'string')]

root
 |-- dept_no: string (nullable = true)
 |-- dept_name: string (nullable = true)


StructType([StructField('dept_no', StringType(), True), StructField('dept_name', StringType(), True)])

['dept_no', 'dept_name']

+-------+-------+----------------+
|summary|dept_no|       dept_name|
+-------+-------+----------------+
|  count|      9|               9|
|   mean|   NULL|            NULL|
| stddev|   NULL|            NULL|
|    min|   d001|Customer Service|
|    max|   d009|           Sales|
+-------+-------+----------------+


+-------+-------+---------+
|summary|dept_no|dept_name|
+-------+-------+---------+
|  count|      9|        9|
+-------+-------+---------+


+-------+-------+----------------+
|summary|dept_no|       dept_name|
+-------+-------+----------------+
|  count|      9|               9|
|   mean|   NULL|            NULL|
| stddev|   NULL|            NULL|
|    min|   d001|Customer Service|
|    25%|   NULL|            NULL|
|    50%|   NULL|            NULL|
|    75%|   NULL|            NULL|
|    max|   d009|           Sales|
+-------+-------+----------------+


[Row(dept_no='d001', dept_name='Marketing'), Row(dept_no='d002', dept_name='Finance'), Row(dept_no='d003', dept_name='Human Resources'), Row(dept_no='d004', dept_name='Production'), Row(dept_no='d005', dept_name='Development')]

[Row(dept_no='d001', dept_name='Marketing'), Row(dept_no='d002', dept_name='Finance'), Row(dept_no='d003', dept_name='Human Resources'), Row(dept_no='d004', dept_name='Production'), Row(dept_no='d005', dept_name='Development'), Row(dept_no='d006', dept_name='Quality Management'), Row(dept_no='d007', dept_name='Sales'), Row(dept_no='d008', dept_name='Research'), Row(dept_no='d009', dept_name='Customer Service')]

+-------+---------------+
|dept_no|dept_name      |
+-------+---------------+
|d001   |Marketing      |
|d002   |Finance        |
|d003   |Human Resources|
+-------+---------------+
only showing top 3 rows


-RECORD 0--------------------
 dept_no   | d001
 dept_name | Marketing
-RECORD 1--------------------
 dept_no   | d002
 dept_name | Finance
-RECORD 2--------------------
 dept_no   | d003
 dept_name | Human Resources
only showing top 3 rows

'n=3 means it will show top 3 records,\ntruncate = false it will show complete data of each columns or truncate = 2 it will show first 25 characters of each columns\nvertical=True data prints in vertically '

In [4]:
department=spark.read.csv("/kaggle/input/learning1/Pyspark/data_sets/department.csv",header=True,inferSchema=True)
department.show(2,truncate=False)

+-------+---------+
|dept_no|dept_name|
+-------+---------+
|d001   |Marketing|
|d002   |Finance  |
+-------+---------+
only showing top 2 rows

In [5]:
dep_employee = spark.read.csv("/kaggle/input/learning1/Pyspark/data_sets/dept_emp.csv",header=True,inferSchema=True)
dep_employee.show(2,truncate=False)

+------+-------+----------+----------+
|emp_no|dept_no|from_date |to_date   |
+------+-------+----------+----------+
|10001 |d005   |1986-06-26|9999-01-01|
|10002 |d007   |1996-08-03|9999-01-01|
+------+-------+----------+----------+
only showing top 2 rows

In [6]:
dep_manager = spark.read.csv("/kaggle/input/learning1/Pyspark/data_sets/dept_manager.csv",header=True,inferSchema=True)
dep_manager.show(2,truncate=False)

+------+-------+----------+----------+
|emp_no|dept_no|from_date |to_date   |
+------+-------+----------+----------+
|110022|d001   |1985-01-01|1991-10-01|
|110039|d001   |1991-10-01|9999-01-01|
+------+-------+----------+----------+
only showing top 2 rows

In [7]:
empolyee = spark.read.csv("/kaggle/input/learning1/Pyspark/data_sets/employee.csv",header=True,inferSchema=True)
empolyee.show(2,truncate=False)

+------+----------+----------+---------+------+----------+
|emp_no|birth_date|first_name|last_name|gender|hire_date |
+------+----------+----------+---------+------+----------+
|22393 |1956-06-13|Yongdong  |Kranzdorf|F     |1993-11-02|
|22394 |1952-06-01|Katsuo    |Ladret   |F     |1990-04-24|
+------+----------+----------+---------+------+----------+
only showing top 2 rows

In [8]:
salary = spark.read.csv("/kaggle/input/learning1/Pyspark/data_sets/salary.csv",header=True,inferSchema=True)
salary.show(2,truncate=False)

+------+------+----------+----------+
|emp_no|amount|from_date |to_date   |
+------+------+----------+----------+
|201772|54369 |1999-11-26|2000-11-25|
|201772|57497 |2000-11-25|2001-11-25|
+------+------+----------+----------+
only showing top 2 rows

In [9]:
title = spark.read.csv("/kaggle/input/learning1/Pyspark/data_sets/title.csv",header=True,inferSchema=True)
title.show(2,truncate=False)

+------+---------------+----------+----------+
|emp_no|title          |from_date |to_date   |
+------+---------------+----------+----------+
|10001 |Senior Engineer|1986-06-26|9999-01-01|
|10002 |Staff          |1996-08-03|9999-01-01|
+------+---------------+----------+----------+
only showing top 2 rows

In [10]:
#spark.stop()